* {
  margin: 0;
  padding 0;
}

#wrapper {
  margin: 15px auto;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

#form1 {
  margin-top: 35%;
}

h2 {
  text-align: center;
  font-size: 36pt;
}

#gallery {
  margin: 0 auto;
  display: none;
}

#controls {
  width: 10%;
  margin: auto auto;
  display: none;
}

.btn-gallery {
  width: 128px;
  height: 128px;
  margin: 32px;
  background-color: #aabbff;
  font-size: 24pt;
}

#img-container {
  display: inline-block;
  margin: 0 auto;
}

#img-main {
  height: 97vh;
  max-width: 97vw;
}
