html {background-color: #D5D8DC;}

* {
  margin: 0;
  padding 0;
}

#wrapper {
  margin: 15px auto;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

#form1 {
  margin-top: 35%;
}

h2 {
  text-align: center;
  font-size: 36pt;
}

#gallery {
  margin: 0 auto;
  display: none;
}

#controls {
  width: 10%;
  margin: auto auto;
  display: none;
}

.btn-gallery {
  width: 128px;
  height: 128px;
  margin: 32px;
  background-color: #aabbff;
  font-size: 24pt;
}

#img-container {
  display: inline-block;
  margin: 0 auto;
}

#img-main {
  border: solid;
  height: 95vh;
  max-width: 97vw;
  overflow: hidden;
}

.img-size img {
    width: 150px;
    height: 150px;
}

#avatar {
	float: right;
	margin-right: -10%;
	display: inline-block;
	text-align: center;
	width: 120px;
}

#user {
    width: 150px;
    height: 150px;
}

#partner {
    width: 150px;
    height: 150px;
}

.caption-main {
	text-align: center;
	font-weight: bold;
	font-size: 16pt;
}

#facts {
	border: 0.3rem dashed black;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.17);
	display: block;
	text-align: left;
	font-size: 14pt;
    background-color:#B3D2F7;
    width: 150px;
    padding: 20px;

}

#facts-main {
	border: 0.3rem black;
	border-style: solid solid hidden solid;
	font-weight: bold;
	font-size: 15pt;
    background-color:#B3D2F7;
    width: 190px;
}


#wait {
	margin-top: 45%;
	display: none;
}

#fin-img {
	display: none;
	text-align: center;
    justify-content: center;
}

figure {
	text-align: center;
	text-indent: 0;
}

#btn-again {
  border: 0.3rem solid black;
  border-radius:2em;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  margin-top: 35%;
  width: 256px;
  height: 128px;
  background-color: #aabbff;
  font-size: 24pt;
}

